@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;600&display=swap");

body {
  font-family: "Eczar", serif;
  width: 100%;
  --doc-padding: 2rem;
}
header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: underline;
  color: inherit;
}
.content {
  margin-top: 4rem;
  margin-bottom: 8rem;
  max-width: 720px;
  margin: auto;
  font-size: 1.2rem;
  line-height: 2rem;
}
.content-lg {
  max-width: 1280px;
}
.content :global(main > * + *) {
  margin-top: 1rem;
}
.intro {
  padding-bottom: 4rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--theme-divider);
}
.intro > * {
  margin: 0;
}
.latest {
  font-size: 2.5rem;
  font-weight: 700;
}
