---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="post-preview">
  {post.heroImage && <img class="preview-image" loading="lazy" src={post.heroImage} alt={post.alt} />}
  <div>
    <a href={post.url}><h1 class="title">{post.title}</h1></a>
    <p>{post.intro}</p>
    <a href={post.url}>Read more</a>
  </div>
</article>

<style>
.content :global(main > * + *) {
  margin-top: 1rem;
}
.post-preview {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 4px solid var(--theme-divider);
}
.post-preview .preview-image {
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 2rem;
}
.title,
.author,
.publish-date {
  margin: 0;
}
.publish-date,
.author {
  font-size: 1.25rem;
  color: var(--theme-text-lighter);
}
.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--theme-text);
}
</style>