---
export interface Props {
  name: string;
  href: string;
}

const { name, href } = Astro.props;
---
<style>
  .author {
    margin-bottom: 0.75rem;
    color: #aaa;
    font-style: italic ;

  }
  .author a {
      color: inherit;
      text-decoration: none;
  }
</style>
<div class="author">
  <p><a href={href}>by {name}</a></p>
</div>