<header class="layout">
  <div class="logo">
    <a href="/">
    <span>Some News Site</span>
    </a>
  </div>
  <div class="links">
    <a href="/about">
      <span>About</span>
    </a>
  </div>
</header>

<style>
header {
  max-width: 1280px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  position: relative;
}
.logo {
  font-size: 2rem;
  display: flex;
  flex-grow: 1;
}
.logo a {
  text-decoration: none;
  display: inline-flex;
}
.logo a:visited {
  color: inherit;
}
.links a {
  color: #aaa;
  font-size: 1.2rem;
}
</style>