---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Article from '../components/Article.astro';

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, permalink, alt} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <Header />
    <main>
     <Article title={title} author={author} heroImage={heroImage} publishDate={publishDate} alt={alt}>
      <slot />
      </Article>
    </main>
  </body>
</html>